.desc-heading{
    line-height: 160%;
    position: relative;
    font-family: 'Satisfy', cursive;
    color: black;
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.desc-heading:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}


.linking1:link,
.linking1:visited {
    
    text-decoration: none;
    
}
.linking1:hover,
.linking1:active {
    color: black;
    
}
.desc-heading{
    line-height: 160%;
    position: relative;
    font-family: 'Satisfy', cursive;
    color: black;
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.desc-heading:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}
.myImg2{
  border-radius: 5%;
  width:80%;
  padding: 2.5%;
  margin-top: 5%;
}
.myImg3{
  border-radius: 5%;
  width:100%;
  padding: 2.5%;
  margin-top: 5%;
}

.container{
  margin-top: 20%;
  margin-bottom: 3%;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.header-line{
  margin-bottom: 0;
    padding-bottom: 0;
    background-color: #808080;
    padding-top: 10px;

}



.s_block{
  margin-top: 5%;
  background-color: #dee2e685;

}

footer p {
    color: #888;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    background-color: #181818;
}
