/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


@media only screen (max-width: 468px){
.navbar-collapse{
  padding-left: 7%;
}
.navbar-brand{
  padding-left: 5%;
}
}

@media only screen and (max-width: 767px) {
  .myImg{
  width: 100%;
  padding: 2.5%;
}
.hori{
  height: 200px;
}
.row.s_block {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%

}
}

@media only screen (max-width: 468px){
.navbar-collapse{
  padding-left: 7%;
}
.navbar-brand{
  padding-left: 5%;
}
}
